@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-image {
  display: flex;
  background: url("./assets/fondo1.jpeg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.body {
  background-repeat: no-repeat;
  display: flex;
  background: url("./assets/fondo1.jpeg") no-repeat;
  background-size: cover;
  background-position: 100%;
  min-height: 100vh;
}

.box-size {
  display: flex;
  height: 500px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.bg-pinky {
  --tw-bg-opacity: 1;
  background-color: #f69bcd;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 40px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.bg-menta {
  width: 30%;
  height: 45%;
  border: none;
  outline: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  color: white;
}

.bg-mb {
  width: 60%;
  height: 45%;
  border-radius: 60px;
  font-size: 12px;
  padding: 10px;
  color: white;
}

.button-color {
  background-color: #3ab19b;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #46ae9e;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
}

.font {
  font-size: 12px;
}

.font-h {
  font-size: 30px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 340px) {
  body {
    background-size: contain;
  }
}
